<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Janys Car Rental</title>
</head>
<body>
    <header>
        background-color: orange
        <center><h1>Car Rental Service</h1></center>
        <section>
            <p></p>
        </section>
        <footer>
            <p>(c) Dawid Morawa, Akademia Nauk Stosowanych w Nowym Targu</p>
        </footer>
    </header>
</body>
</html>